
        .grid {
            width: 100%;
            height: 100%;
        }
        
        .container {
            position: relative;
            left: 5%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
        
        .card {
            width: 300px;
            height: 420px;
            background-color: #AC39DC;
            border-radius: 30px;
            margin: 20px;
            font-size: large;
            transition: background-color 0.3s, height 0.3s, font-size 0.3s;
            cursor: pointer;
            overflow: hidden;
        }
        
        .card:hover {
            width: 300px;
            height: 430px;
            background-color: #AC39DC;
            border-radius: 30px;
            margin: 20px;
            font-size: larger;
            overflow: hidden;
        }
        
        .title {
            margin-top: 3px;
            height: 15%;
            border-radius: 30px;
            background-color: hsl(282, 79%, 21%);
            text-align: center;
            padding-top: 10px;
            color: white;
            font-size: 20px;
        }
        
        .description {
            border-radius: 30px;
            background-color: #470B60;
            text-align: center;
            margin: 10px;
            padding-top: 10px;
            height: 75%;
            font-size: 19px;
            color: gold;
            
        }
        
        .price {
            border-radius: 30px;
            background-color: #FF4500;
            text-align: center;
            margin: 10px;
            width: 60px;
            position: relative;
            left: 30%;
        }
        .link2{
            text-decoration: none;
            color:black;
            font-size: larger;
            text-shadow: 2px 2px 3px black;
            margin: 0px;
        }

        .selector{
            background-color: #AC39DC;
            width: 100%;
            height: 10%;
            display: flex;
            justify-content:center;
            gap:10%;

        }

        .paid{
            background-color:#e6bef7;
            width:10%;
            height:30px;
            position: relative;
            top:30%;
            padding-top: 10px;
            padding-left: 80px;
            border-radius: 30px;
        }
        .slink{
            font-size:x-large;
            color: black;
            
        }
        .free{
            background-color:#AC39DC;
            width:10%;
            height:30px;
            position: relative;
            top:30%;
            padding-top: 10px;
            padding-left: 80px;
            border-radius: 30px;
        }
