form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table tr td {
    padding: 5px;
}

input[type="email"],
input[type="password"] {
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

button {
    background: linear-gradient(to right bottom, violet, gold);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: large;
    color: white;
}
.link{
    text-decoration: none;
    color:white;
    font-size: larger;
    text-shadow: 3px 3px 2px black;
}