.grid {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    width: 300px;
    height: 420px;
    background-color: #AC39DC;
    border-radius: 30px;
    margin: 20px;
    font-size: large;
    transition: background-color 0.3s, height 0.3s, font-size 0.3s;
    cursor: pointer;
}

.card:hover {
    width: 300px;
    height: 430px;
    background-color: #AC39DC;
    border-radius: 30px;
    margin: 20px;
    font-size: larger;
}

.title {
    margin-top: 3px;
    height: 15%;
    border-radius: 30px;
    background-color: hsl(282, 79%, 21%);
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 20px;
}

.description {
    border-radius: 30px;
    background-color: #470B60;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    height: 75%;
    font-size: 19px;
    color: gold;
}

.price {
    border-radius: 30px;
    background-color: #FF4500;
    text-align: center;
    margin: 10px;
    width: 60px;
    position: relative;
    left: 30%;
}
.sticky{
    padding: 0px;
    background: burlywood;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    font-size: medium;
    position:fixed;
    right: 0%;
    top: 0%;
}
.link2{
    color:black;
    font-size: larger;
    text-shadow: 2px 2px 3px black;
    margin: 0px;
}
button{
    background: linear-gradient(to right bottom,violet,gold);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: large;
}