{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'affiliate.css' %}">
<link rel="stylesheet" href="{% static 'text_color.css' %}">
{% endblock %}

{%block body%}
    <h1>
        How sellers and affiliates program work?
    </h1>
    {% if notlogged %}
    <form method="POST" id="myForm" style="display:flex; justify-content:center; margin-top:10px;">
        {% csrf_token %}
        <button type="button" onclick="submitFunction()" >Become an Affiliate or Login to the Dashboard</button>
    </form>
    {% endif %}
    <div class="direct">
        <h3>
            If a direct user buys your prompt you will get 75% of the money he paid and 25% 
            will be taken by MagicPromptStore Company as Marketplace commision for 
            Developemt of Marketplace, Maintainence, Hosting, advertising etc.
        </h3>
    
        <img src="{% static 'direct.png' %}" width="500px" height="300px">
    </div>

    <div class="affiliate">
        <h3>If the user has signed to the MagicPromptStore because of an affiliate and buys your prompt
            You will get 75% of the money he paid and 5% will be taken by MagicPromptStore Company
            as Marketplace commision for Devlopement of Marketplace Maintainence, Hosting, 
            advertising etc. Remaining 20% will be given to Affiliate.
        </h3>
    
        <img src="{% static 'affiliate.png' %}" width="500px" height="300px">
    </div>

    {% if affiliate%}
    <form method="POST" id="myForm" style="display:flex; justify-content:center; margin-top:10px;">
        {% csrf_token %}
            <button type="button" onclick="submitFunction()">Become an Affiliate </button>
    </form>
    {% endif %}

</body>
<script>
    function submitFunction(){
        myForm = document.getElementById('myForm')
        myForm.submit()
    }
</script>
</html>
{% endblock %}