{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'my_prompt.css' %}">
{% endblock %}

{%block body%}
    <div class="grid">
        <div class="container">
            {% if user%}
            {% for prompt in user.prompts.all %}
                <div class="card" onclick="onSubmit('{{ prompt.title }}')">
                    <form method="POST" id="myform">
                        {% csrf_token %}
                        <input type="hidden" value="" name="thetitle">
                        <div class="title">
                            {{ prompt.title }}
                        </div>
                        <div class="description">
                            {{ prompt.description }}
                        </div>
                    </form>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <button class="sticky"><a class="link2" href="{% url 'my_prompts_view' %}">My Prompts</a></button>
    <button class="sticky2"><a class="link2" href="{% url 'posted_view' %}">My Account</a></button>
    <script>
        function onSubmit(title){
            var myform = document.getElementById('myform');
            myform.elements['thetitle'].value = title;
            myform.submit();
        }
    </script>
</body>
</html>
{% endblock %}