{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'paid.css' %}">
{% endblock %}

{%block body%}
<div class="selector">
    <div class="free"><a class="slink " href="{% url 'store_view' %}">Free</a></div>
    <div class="paid"><a class="slink" href="{% url 'paid_view' %}">Paid</a></div>
</div>
    {% if message %}
    <div class = "message" style = "
    color : white;
    ">
    <h3>{{ message}}</h3>
    </div>
    {% endif %}

    <div class="grid">
        <div class="container">
            {% for prompt in prompts %}
                <div class="card" onclick="onSubmit('{{ prompt.title }}')">
                    <form method="POST" id="myform">
                        {% csrf_token %}
                        <input type="hidden" value="" name="thetitle">
                        <div class="title">
                            {{ prompt.title }}
                        </div>
                        <div class="description">
                            {{ prompt.description }}
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function onSubmit(title){
            var myform = document.getElementById('myform');
            myform.elements['thetitle'].value = title;
            myform.submit();
        }
    </script>
</body>
</html>

{% endblock %}