<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Subscribe now for one month:
    Pay through UPI QR code or UPI id and upload the payment screenshot.
    <img src="{{ templates/payment.jpeg }}">
    Within 24 hours your subscripton will be added. From then you will be able to access all the prompts for 30 days. If Subscription is not added within 24 hours you can complaint to our customer care and claim life time Subscription.
</body>
</html>