{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'post_form.css' %}">
{% endblock %}

{%block body%}
    <form method="POST" id="myform">
        {% csrf_token%}
        <label for="title">Title of Prompt:</label>
        <input type="text" id="title" name="title">
        <label for="description">Description of Prompt:</label>
        <input type="text" id="description" name="description">
        <label for="prompt">Prompt:</label>
        <textarea id="prompt" name="prompt" rows="40" cols="150"></textarea><br><br>
        <label for="sample_input">Sample Input:</label>
        <textarea id="sample_input" name="sample_input" rows="3" cols="150"></textarea><br><br>
        <label for="sample_output">Sample Output:</label>
        <textarea id="sample_output" name="sample_output" rows="40" cols="150"></textarea><br><br>
        <button onclick="SubmitFunction()">Submit</button>
    </form>
    
    <button class="sticky2"><a class="link2" href="{% url 'posted_view' %}">My Account</a></button>
    <script>
        function SubmitFunction(){
            myform = document.getElementById('myform');
            myform.submit();
        }
    </script>
</body>
</html>

</body>
</html>
{% endblock %}