{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'post.css' %}">
{% endblock %}

{%block body%}
    <h1>
        How Sellers program work?
    </h1>
    <div class="direct">
        <h3>
            If a direct user buys your prompt you will get 80% of the money he paid and 20% 
            will be taken by MagicPromptStore Company as Marketplace commision for 
            Developemt of Marketplace, Maintainence, Hosting, advertising etc.
        </h3>
    
        <img src="{% static 'direct.png' %}" width="500px" height="300px">
    </div>

    <div class="affiliate">
        <h3>If the user has signed to the MagicPromptStore because of an affiliate and buys your prompt
            You will get 70% of the money he paid and 10% will be taken by MagicPromptStore Company
            as Marketplace commision for Devlopement of Marketplace Maintainence, Hosting, 
            advertising etc. Remaining 20% will be given to Affiliate.
        </h3>
    
        <img src="{% static 'affiliate.png' %}" width="500px" height="300px">
    </div>



    <h4>
        Terms and Condition:</h4>
        <p>
            If a direct user buys your prompt you will get 80% of the money he paid and 20% 
            will be taken by MagicPromptStore Company as Marketplace commision for 
            Developemt of Marketplace, Maintainence, Hosting, advertising etc.
        </p>
    
        <p>If the user has signed to the MagicPromptStore because of an affiliate and buys your prompt
            You will get 70% of the money he paid and 10% will be taken by MagicPromptStore Company as
            Marketplace commision for Devlopement of Marketplace Maintainence, Hosting, 
            advertising etc. Remaining 20% will be given to Affiliate.
        </p>

        <div class="bottom">
            <div>
                <form method="POST" id="myForm">
                    {% csrf_token %}
                    <input class="checkbox" name="agree" id="checkbox" type="checkbox">I agree to all Terms and Conditions<br>
                    <button onclick="submitFunction()" type="button">Sell a Prompt</button>
                </form>
            </div>
        </div>
        <button class="sticky2"><a class="link2" href="{% url 'posted_view' %}">My Account</a></button>
    </body>
<script>
    function submitFunction(){
        myForm = document.getElementById('myForm')
        checkbox = document.getElementById('checkbox')
        if ( checkbox.checked){
            myForm.submit()
        }
        else{
            alert('Checkbox not checked')
        }
    }
</script>
</html>
{% endblock %}