{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'prompt.css' %}">
{% endblock %}

{%block body%}

    <div class="grid">
        <div class="container">
                <div class="card">
                        <div class="title">
                            {{ prompt.title }}
                        </div>
                        <div class="description">
                            {{ prompt.description }}
                        </div>
                </div>
            </div>
            <div class="sample">

                <div class="sample_input">

                    Sample Input: <br>{{prompt.sample_input}}<br>
                    <br> Cost of the Prompt: <pre>{{ prompt.cost }}</pre>
                </div>
                <div class="sample_output">
                    Sample Output: <br>
                    <pre>{{ prompt.sample_output }}</pre>
                </div>
                <div>
                    {{ prompt.sales }} Sales
                </div>
                <div>
                    {{ prompt.user.email }}
                </div>
                <form method="POST" id="myForm">
                {% csrf_token %}
                <button onclick="submitFunction()" class="buy_button">Buy Prompt</button>
            </div>
        </div>
    </form>
    
</body>

<script>
    function submitFunction(){
        myForm = document.getElementById('myForm')
        myForm.submit()
    }
</script>
</html>
{% endblock %}