{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'see_prompt.css' %}">
{% endblock %}

{%block body%}

    <div class="grid">
        <div class="container">
                <div class="card">
                        <div class="title">
                            {{ prompt.title }}
                        </div>
                        <div class="description">
                            {{ prompt.description }}
                        </div>
                </div>
            </div>
            <div class="sample">

                <div class="sample_input">
                    Sample Input: <br>{{prompt.sample_input}}<br>
                    <br> Cost of the Prompt: {{ prompt.cost }}
                </div>
                <div class="sample_output">
                    Sample Output: <br>
                    {{ prompt.sample_output }}
                </div>
                <div>
                    {{ prompt.sales }} Sales
                </div>
                <div class="prompt">
                    {{ prompt.prompt }}
                </div>
            </div>
        </div>
    </form>
   
</body>

</html>
{% endblock %}