{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
<link rel="stylesheet" href="{% static 'text_color.css' %}">
{% endblock %}

{%block body%}
    </header>

    <main>
        <h1>Sign Up</h1>
        {% if error %}
        <p style="text-align: center; color:red;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name"></td>
                </tr>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="email" id="email" name="email"></td>
                </tr>
                <tr>
                    <td><label for="password">Create Password:</label></td>
                    <td><input type="password" id="password" name="password"></td>
                </tr>
            </table>
            <button type="submit">Submit</button>
        </form>
        <button class="sticky2"><a class="link2" href="{% url 'posted_view' %}">My Account</a></button>
    </main>
</body>
</html>

{% endblock %}