{% extends 'common.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'withdraw.css' %}">
{% endblock %}

{%block body%}
    </header>

    <main>
        <form method="POST" id="myForm" enctype="multipart/form-data">
            {% csrf_token %}
            Enter the Amount to withdraw:<input id="amount" class="amount" name="amount" type="number"><br>
            <button onclick="submitFunction('{{ total_amount }}')" type="button">Submit</button>
        </form>
    </body>
    <script>
        function submitFunction(total_amount){
            var myForm = document.getElementById('myForm');
            amount = myForm.elements['amount'].value
            if(amount>total_amount){
                alert('Please enter an amount equal to or below the balance amount '+total_amount)
            }
    
            else if (amount<0){
                alert("Enter an amount")
            }
            else{
                myForm.submit();
            }
        }
    </script>
    </main>
    <button class="sticky2"><a class="link2" href="{% url 'posted_view' %}">My Account</a></button>
</body>
</html>


{% endblock %}